# Node modules
node_modules/

# Puppeteer cache (descargas de Chromium)
.cache/

# PM2 logs
logs/
pids/
*.log

# VSCode settings (si usas)
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Env vars si usas más adelante
.env
